{% extends 'templates/tabcontents/billingplanApp.twig' %}
{% block wrap %}
    <body id="content">
        <div id="wrap">
            <div class="main content">
                <div class="row list"> 
                    <div class="list h1">
                        <h1>{{auth.user.firstname}}</h1>
                    </div>
                </div>
                <div class="row" id="profile">
                    <ul class="nav nav-tabs" role="tablist" id="profile-tabs">
                        <li>
                             <a href="{{ path_for('overview')}}">Overview</a>
                        </li>
                        <li class="dropdown" id="settings">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu" id="settings-menu">
                                <li id="details-menu">
                                    <a href="{{ path_for('details')}}">Details</a>
                                </li>
                                <li id="users-menu">
                                    <a href="{{ path_for('users')}}">Users</a>
                                </li>
                                <li>
                                    <a href="{{ path_for('security')}}">Security</a>
                                </li>
                                <li><a href="{{ path_for('contactinfo')}}">Contact information</a></li>
                                <li id="verified-menu">
                                    <a href="{{ path_for('verifieddomains')}}">Verified domains</a>
                                </li>
                                <li id="manage-menu">
                                    <a href="{{ path_for('manage')}}">Manage my data</a>
                                </li>
                                <li><a href="#pause">Pause or delete data</a></li>
                                <li><a href="{{ path_for('auth.password.change') }}">Change password </a></li>
                            </ul>
                        </li>
                        <li class="dropdown" id="billing">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Billing <span class="caret"></span></a>
                            <ul class="dropdown-menu" id="billing-menu">
                                <li><a href="{{ path_for('billingplan')}}">Monthly plans or credits</a></li>
                                <li>
                                    <a href="{{ path_for('billinginfo')}}">Billing information</a>
                                </li>
                                <li>
                                    <a href="{{ path_for('billinghistory')}}">Billing history</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" id="extras">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Extras <span class="caret"></span></a>
                            <ul class="dropdown-menu" id="extras-menu">
                                <li>
                                    <a href="{{ path_for('rewards')}}">Rewards</a>
                                </li>
                                <li>
                                    <a href="{{ path_for('apikeys')}}">API keys</a>
                                </li>
                                <li><a href="{{ path_for('registeredapps')}}">Registered apps</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path_for('transactional')}}">Transactional</a>
                        </li>
                    </ul>
                </div>
                <div class="inside-content">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="content h2" style="margin-bottom: 30px;">
                                <h2 style="text-align:left">Edit your billing plan</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="content h3">
                                <h3>Select a plan</h3>
                            </div>
                        </div>
                        <div class="row">
                            <form>
                                <div class="form-group">
                                    <label for="foreverfree"> Forever Free</label>
                                    <p>If you have fewer than 2,000 subscribers, you can send up to 12,000 emails per month absolutely free. No expiring trial, contract, or credit cart required.</p>
                                </div>
                                <div class="form-group">
                                    <label for="monthly"> Monthly</label>
                                    <p>A once-per-month charge based on the highest number of subscibers and transactional recipients in your account during a 30-day billing period.</p>
                                </div>
                                <div class="form-group">
                                    <label for="PAYG">Pay As You Go</label>
                                    <p>Design for infrequent sending, you buy credits (as oppossed to recurring charges) as necessary, based on volume. </p>
                                </div>
                            </form>
                            <div class="row">
                                <div class="content h3">
                                    <h3> React Mechanics Pro</h3>
                                </div>
                                <div class="row content">
                                    <p> Upgrade to Pro for access to multivariate, testing comparative reports, delivery and compliance insights, and stop delivery button. Plus, with priority support, you'll go to the front of the line anytime you have technical questions <a href="">Learn more</a></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="content h3">
                                    <h3> Mandrill </h3>
                                </div>
                                <div class="row content">
                                    <p></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="content h3">
                                    <h3>Social Profiles</h3>
                                </div>
                                <div class="row content">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="content warning">
                            <p>Your account doesn't have any billing information</p>
                            <a href="" name="payment-method">Add a payment method</a>
                        </div><br>
                        <div class="content warning-info">
                            <p><i>Your currently bill in $ US Dollars <a href="">Change</a></i></p>
                        </div>
                    </div>
                </div> 
            </div>
            <!--<footer class="col-sm-12"> 
            </footer>-->
        </div>
    </body>
{% endblock %}