{% extends 'templates/tabcontents/billinghistoryApp.twig' %}
{% block wrap %}
    <body id="content">
        <div id="wrap">
            <div class="main content">
                <div class="row list"> 
                    <div class="list h1">
                        <h1>{{auth.user.firstname}}</h1>
                    </div>
                </div>
                <div class="row" id="profile">
                    <ul class="nav nav-tabs" role="tablist" id="profile-tabs">
                        <li>
                             <a href="{{ path_for('overview')}}">Overview</a>
                        </li>
                        <li class="dropdown" id="settings">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu" id="settings-menu">
                                <li id="details-menu">
                                    <a href="{{ path_for('details')}}">Details</a>
                                </li>
                                <li id="users-menu">
                                    <a href="{{ path_for('users')}}">Users</a>
                                </li>
                                <li>
                                    <a href="{{ path_for('security')}}">Security</a>
                                </li>
                                <li><a href="{{ path_for('contactinfo')}}">Contact information</a></li>
                                <li id="verified-menu">
                                    <a href="{{ path_for('verifieddomains')}}">Verified domains</a>
                                </li>
                                <li id="manage-menu">
                                    <a href="{{ path_for('manage')}}">Manage my data</a>
                                </li>
                                <li><a href="#pause">Pause or delete data</a></li>
                                <li><a href="{{ path_for('auth.password.change') }}">Change password </a></li>
                            </ul>
                        </li>
                        <li class="dropdown" id="billing">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Billing <span class="caret"></span></a>
                            <ul class="dropdown-menu" id="billing-menu">
                                <li><a href="#">Monthly plans or credits</a></li>
                                <li>
                                    <a href="{{ path_for('billinginfo')}}">Billing information</a>
                                </li>
                                <li>
                                    <a href="{{ path_for('billinghistory')}}">Billing history</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" id="extras">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Extras <span class="caret"></span></a>
                            <ul class="dropdown-menu" id="extras-menu">
                                <li>
                                    <a href="{{ path_for('rewards')}}">Rewards</a>
                                </li>
                                <li>
                                    <a href="{{ path_for('apikeys')}}">API keys</a>
                                </li>
                                <li><a href="{{ path_for('registeredapps')}}">Registered apps</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path_for('transactional')}}">Transactional</a>
                        </li>
                    </ul>
                </div>
                <div class="inside-content">
                    <div class="row">
                        <div class="content h2" style="margin-bottom: 30px;">
                            <h2 style="text-align:left">Billing history</h2>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-sm-12 bg-white">                  
                            <div class="row bg-white-content">
                                <div class="up-image-content">
                                    <img src="../../../../../reactmechanics/media/img/no-ecommerce360.svg">
                                </div>
                                <div class="up-text-content">
                                     <h2> Looks like you don't have any orders yet. </h2>
                                     <br>
                                    <input type="button" class="btn btn-default" id="buy-btn" value="Buy Credits or a Monthly Plan." style="text-align: center;">
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                <footer>    
                 
                </footer>
            </div>
        </div>
    </body>
{% endblock %}